*{
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; 
}

@keyframes slide {
  0%, 20% { transform: translateX(0); }      
  25%, 45% { transform: translateX(-100%); }    
  50%, 70% { transform: translateX(-200%); }   
  75%, 95% { transform: translateX(-300%); }    
  100% { transform: translateX(0); }            
}

.slider {
  animation: slide 10s infinite ease-in-out;
}

